{% extends "layout.html" %}
{% from "helpers.html" import render_field, render_content_field, md_help %}


{% block content %}
<div class = "container">
	<h1>HELLO, WORLD</h1>
    <form action="" method="post" accept-charset="utf-8">
           {{form.hidden_tag()}}
            {% for field in form %}
              {{ render_field(field) }}
            {% endfor %}
            <button class="btn btn-lg btn-block" name="btn" type="submit" value="{{form._prefix}}btn">Save</button>
    </form>


  <p>time is {{ time }}</p>
  <p>all users</p>
  {% for user in users %}
    <p><a href="{{ user.url }}">{{ user.username }}</a></p>
  {% endfor %}
</div>


{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

{% block extra_js %}
{% endblock %}